<h1>{{titulo}}</h1>

<form>
    <div class="form-group">
        <label>Numero 1</label>
        <input type="number" class="form-control" placeholder="Escribe un numero" [(ngModel)]="numeroA" name="numeroA" />
    </div>
    <div class="form-group">
        <label>Numero 2</label>
        <input type="number" class="form-control" placeholder="Escribe otro numero" [(ngModel)]="numeroB" name="numeroB" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="sumarNumeros()">Sumar</button>
    <button type="submit" class="btn btn-primary" (click)="restarNumeros()">Restar</button>
    <button type="submit" class="btn btn-primary" (click)="multiplicarNumeros()">Multiplicar</button>
    <button type="submit" class="btn btn-primary" (click)="dividirNumeros()">Dividir</button>
</form>
<p>Resultado: {{resultado}}</p>